<table class="table card-table table-vcenter">
  <thead>
      <tr>
        <th>Tgl. Transaksi</th>
        <th>Kode Transaksi</th>
        <th>Nama Pelanggan</th>
        <th>Pembayaran</th>
        <th>Denda</th>
        <th>Harga</th>
        <th></th>
      </tr>
  </thead>
          <tr>
      <td>
        06/04/2021 16:53:49        </td>
        <td><a href="#" data-id="12" id="detailOId" >H672O20210406</a>
        </td>
        <td>duta</td>
        <td class="w-20">
                  Belum dibayar
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 240,000
            <input type='hidden' id='hrg_12' value='240000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        06/04/2021 16:57:59        </td>
        <td><a href="#" data-id="13" id="detailOId" >3UPRF20210406</a>
        </td>
        <td>jhon</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 100,000
            <input type='hidden' id='hrg_13' value='100000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        07/04/2021 08:53:34        </td>
        <td><a href="#" data-id="14" id="detailOId" >202104077B952</a>
        </td>
        <td>alkalin</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 82,000</td>
        <td>
          <div>Rp 18,000
            <input type='hidden' id='hrg_14' value='18000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        09/04/2021 14:21:48        </td>
        <td><a href="#" data-id="15" id="detailOId" >20210409M03SI</a>
        </td>
        <td>asas</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 36,000
            <input type='hidden' id='hrg_15' value='36000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        09/04/2021 14:34:06        </td>
        <td><a href="#" data-id="16" id="detailOId" >20210409AZ42D</a>
        </td>
        <td>fsf</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 48,000
            <input type='hidden' id='hrg_16' value='48000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        09/04/2021 16:25:55        </td>
        <td><a href="#" data-id="18" id="detailOId" >20210409BQGDM</a>
        </td>
        <td>ivana</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 62,000</td>
        <td>
          <div>Rp 84,000
            <input type='hidden' id='hrg_18' value='84000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        23/04/2021 13:48:26        </td>
        <td><a href="#" data-id="24" id="detailOId" >202104238NUB0</a>
        </td>
        <td>Lara</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 56,000</td>
        <td>
          <div>Rp 318,000
            <input type='hidden' id='hrg_24' value='318000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        29/04/2021 11:11:40        </td>
        <td><a href="#" data-id="25" id="detailOId" >20210429HU3ZY</a>
        </td>
        <td>nuel</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 36,000</td>
        <td>
          <div>Rp 1,369,000
            <input type='hidden' id='hrg_25' value='1369000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        29/04/2021 14:44:53        </td>
        <td><a href="#" data-id="26" id="detailOId" >20210429KCP7F</a>
        </td>
        <td>coba bayar</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 30,000</td>
        <td>
          <div>Rp 24,000
            <input type='hidden' id='hrg_26' value='24000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        29/04/2021 14:45:25        </td>
        <td><a href="#" data-id="27" id="detailOId" >20210429TZP49</a>
        </td>
        <td>nuel</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 24,000
            <input type='hidden' id='hrg_27' value='24000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        30/04/2021 15:58:13        </td>
        <td><a href="#" data-id="28" id="detailOId" >202104308HOTI</a>
        </td>
        <td>sdd</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 14,000</td>
        <td>
          <div>Rp 12,000
            <input type='hidden' id='hrg_28' value='12000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        30/04/2021 15:59:29        </td>
        <td><a href="#" data-id="29" id="detailOId" >20210430L8IJQ</a>
        </td>
        <td>dasd</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 14,000</td>
        <td>
          <div>Rp 25,000
            <input type='hidden' id='hrg_29' value='25000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        09/05/2021 16:41:43        </td>
        <td><a href="#" data-id="30" id="detailOId" >20210509RJTW9</a>
        </td>
        <td>asdas</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 18,000
            <input type='hidden' id='hrg_30' value='18000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        09/05/2021 16:42:07        </td>
        <td><a href="#" data-id="31" id="detailOId" >202105099D6X3</a>
        </td>
        <td>asdasdas</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 24,000
            <input type='hidden' id='hrg_31' value='24000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        21/05/2021 15:02:50        </td>
        <td><a href="#" data-id="32" id="detailOId" >20210521X8MW1</a>
        </td>
        <td>Ucup</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 24,000
            <input type='hidden' id='hrg_32' value='24000'>          </div>
        </td>
      </tr>
          <tr>
      <td>
        24/05/2021 14:19:13        </td>
        <td><a href="#" data-id="33" id="detailOId" >202105240TU3G</a>
        </td>
        <td>assas</td>
        <td class="w-20">
         
          Lunas
                </td>
        <td>Rp 0</td>
        <td>
          <div>Rp 36,000
            <input type='hidden' id='hrg_33' value='36000'>          </div>
        </td>
      </tr>
        <tr>
      <td colspan="5" class="strong text-end">Pemasukan</td>
      <td class="text-end">2,000</td>
    </tr>
    <tr>
      <td colspan="5" class="strong text-end">Denda</td>
      <td class="text-end">23,000</td>
    </tr>
    <tr>
      <td colspan="5" class="strong text-end">Total Pemasukan</td>
      <td class="text-end">Rp 25,000</td>
    </tr>
</table>